In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
koi = pd.read_csv('data/cumulative_2021.07.06_20.07.53.csv')

In [5]:
cands = pd.DataFrame({
    'KIC': [7767699, 8249829, 9895543],
    'period': [1.12828, 1.0127, 1.21889],
    't0': [121.66, 1472.679, 121.42]
})

In [7]:
koi['koi_period']

0         9.488036
1        54.418383
2        19.899140
3         1.736952
4         2.525592
           ...
9559      0.527699
9560      1.739849
9561      0.681402
9562    333.486169
9563      4.856035
Name: koi_period, Length: 9564, dtype: float64

In [42]:
koi_pclose = koi[np.isclose(cands.iloc[2].period, koi['koi_period'], atol=0.01)][['koi_period', 'koi_disposition', 'koi_time0bk']]

In [40]:
koi_pclose[np.isclose(cands.iloc[2].t0, koi_pclose.koi_time0bk, atol=1)]

Empty DataFrame
Columns: [koi_period, koi_disposition, koi_time0bk]
Index: []

In [33]:
koi_pclose

      koi_period koi_disposition  koi_time0bk
818     1.137525  FALSE POSITIVE   133.805565
1694    1.118548       CONFIRMED   132.848260
2370    1.129766  FALSE POSITIVE   132.526000
3478    1.125963  FALSE POSITIVE   169.634000
3742    1.121733       CANDIDATE   131.569190
4059    1.121635  FALSE POSITIVE   132.313110
4690    1.124011  FALSE POSITIVE   131.649520
5485    1.133531  FALSE POSITIVE   132.441400
5577    1.135930  FALSE POSITIVE   132.396556
5727    1.120646  FALSE POSITIVE   131.591970
5802    1.133573  FALSE POSITIVE   131.820400
7232    1.129848  FALSE POSITIVE   131.789871
7279    1.123259  FALSE POSITIVE   132.026710
8054    1.122845  FALSE POSITIVE   131.671908
8106    1.118510       CANDIDATE   131.608820
8339    1.124034  FALSE POSITIVE   131.628780
8379    1.126798  FALSE POSITIVE   132.275700
8511    1.120998  FALSE POSITIVE   131.484860
9348    1.126260       CANDIDATE   132.296346