In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/catalogues/rev_AF_stars.csv')

In [4]:
koi_dsct = pd.read_csv('data/koi_dsct.csv')

In [5]:
koi_dsct

,Unnamed: 0,Unnamed: 0.1,kepid,kepoi_name,kepler_name,koi_disposition,koi_vet_stat,koi_vet_date,koi_pdisposition,koi_score,...,koi_dicco_msky,koi_dicco_msky_err,koi_dikco_mra,koi_dikco_mra_err,koi_dikco_mdec,koi_dikco_mdec_err,koi_dikco_msky,koi_dikco_msky_err,dsct,nfreqs
0,0,0,3964109,K00393.01,Kepler-544 b,CONFIRMED,Done,16/8/18,CANDIDATE,1.000,...,0.63,0.57,0.000,1.300,0.500,0.510,0.500,0.530,True,1
1,1,1,9111849,K02042.01,NaN,CANDIDATE,Done,16/8/18,CANDIDATE,0.994,...,0.31,0.13,0.150,0.120,-0.200,0.130,0.250,0.130,True,4
2,2,2,9845898,K02423.01,Kepler-1233 b,CONFIRMED,Done,16/8/18,CANDIDATE,1.000,...,0.60,0.85,0.110,0.700,-0.700,1.100,0.700,1.100,True,3
3,3,3,5202905,K01932.01,Kepler-340 c,CONFIRMED,Done,16/8/18,CANDIDATE,0.944,...,0.32,0.23,-0.110,0.260,0.430,0.230,0.440,0.220,True,4
4,4,4,5202905,K01932.02,Kepler-340 b,CONFIRMED,Done,16/8/18,CANDIDATE,0.636,...,0.39,0.39,0.400,0.440,-0.150,0.250,0.430,0.400,True,4
5,5,5,6116172,K06142.02,NaN,CANDIDATE,Done,16/8/18,CANDIDATE,NaN,...,7.90,2.70,-8.000,2.100,-0.580,0.230,8.000,2.100,True,1
6,6,6,6116172,K06142.01,NaN,CANDIDATE,Done,16/8/18,CANDIDATE,NaN,...,7.90,2.70,-8.000,2.100,-0.580,0.230,8.000,2.100,True,1
7,7,7,6116172,K06142.02,NaN,CANDIDATE,Done,16/8/18,CANDIDATE,NaN,...,7.90,2.70,-8.000,2.100,-0.580,0.230,8.000,2.100,True,1
8,8,8,11013201,K00972.03,NaN,CANDIDATE,Done,16/8/18,CANDIDATE,0.632,...,5.20,1.50,-3.210,0.810,4.300,1.100,5.400,1.300,True,4
9,9,9,11013201,K00972.02,NaN,CANDIDATE,Done,16/8/18,CANDIDATE,0.000,...,3.90,1.70,-4.700,1.200,3.000,1.800,5.600,1.700,True,4
10,10,10,6032730,K06141.01,NaN,CANDIDATE,Done,16/8/18,CANDIDATE,NaN,...,8.90,3.70,-10.700,2.100,10.700,4.500,15.100,3.500,True,2
11,11,11,5617259,K07733.01,NaN,CANDIDATE,Done,16/8/18,CANDIDATE,0.139,...,0.34,0.10,0.095,0.091,-0.065,0.089,0.115,0.099,True,4
12,12,12,9775385,K04462.01,NaN,CANDIDATE,Done,16/8/18,CANDIDATE,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,1
13,13,13,6670742,K06753.01,NaN,CANDIDATE,Done,16/8/18,CANDIDATE,NaN,...,3.40,1.80,-2.400,1.500,-2.000,1.300,3.100,1.600,True,3
14,14,14,9289704,K02222.01,NaN,CANDIDATE,Done,16/8/18,CANDIDATE,0.987,...,0.36,0.17,-0.460,0.170,0.010,0.130,0.460,0.170,True,4
15,15,15,3965201,K07546.01,NaN,CANDIDATE,Done,16/8/18,CANDIDATE,NaN,...,0.54,0.79,-0.290,0.580,0.560,0.540,0.630,0.690,True,3
16,16,16,11180361,K00971.01,NaN,CANDIDATE,Done,16/8/18,CANDIDATE,1.000,...,8.40,2.00,9.700,2.200,-7.200,2.400,12.100,3.000,True,4

In [13]:
koi_dsct[~koi_dsct.kepid.isin(df.kic)]

,Unnamed: 0,Unnamed: 0.1,kepid,kepoi_name,kepler_name,koi_disposition,koi_vet_stat,koi_vet_date,koi_pdisposition,koi_score,...,koi_dicco_msky,koi_dicco_msky_err,koi_dikco_mra,koi_dikco_mra_err,koi_dikco_mdec,koi_dikco_mdec_err,koi_dikco_msky,koi_dikco_msky_err,dsct,nfreqs
0,0,0,3964109,K00393.01,Kepler-544 b,CONFIRMED,Done,16/8/18,CANDIDATE,1.000,...,0.63,0.57,0.00,1.30,0.5,0.51,0.50,0.53,True,1
1,1,1,9111849,K02042.01,NaN,CANDIDATE,Done,16/8/18,CANDIDATE,0.994,...,0.31,0.13,0.15,0.12,-0.2,0.13,0.25,0.13,True,4
8,8,8,11013201,K00972.03,NaN,CANDIDATE,Done,16/8/18,CANDIDATE,0.632,...,5.20,1.50,-3.21,0.81,4.3,1.10,5.40,1.30,True,4
9,9,9,11013201,K00972.02,NaN,CANDIDATE,Done,16/8/18,CANDIDATE,0.000,...,3.90,1.70,-4.70,1.20,3.0,1.80,5.60,1.70,True,4
16,16,16,11180361,K00971.01,NaN,CANDIDATE,Done,16/8/18,CANDIDATE,1.000,...,8.40,2.00,9.70,2.20,-7.2,2.40,12.10,3.00,True,4